@import "./reset/reset.scss";
@import "./fonts.scss";

body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1440px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    height: 700px;
    background-image: url(../images/Backgroundheader_background.png);
    background-size: cover;
    background-position: center center;
    background-color: black;
    color: white;
    font-family: "Montserrat";

    .header__top {
        max-width: 85%;
        height: 200px;
        margin: 0 auto;
        padding: 40px 183px 0px 142px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .header__top_logo {
            padding: 6px 0px 0px 0px;

            &>h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                transform: scale(1.01);
            }
        }

        & .header__top_registration {
            & .button {
                width: 90px;
                height: 36px;
                color: white;
                border: none;
                background-color: transparent;
                border-radius: 40px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 33px;

                &.registration_active {
                    border: 2px solid #FFFFFF;
                    margin-left: -7px;
                }
            }
        }
    }

    .header__bottom {
        width: 50%;
        height: 500px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 23px;

        & .main_title {
            width: 470px;
            height: 126px;

            &>h1 {
                font-family: "Montserrat_Bold";
                font-style: normal;
                font-weight: 700;
                font-size: 52px;
                line-height: 63px;
                text-align: center;
                color: #FFFFFF;
            }
        }

        & .main_subtitle {
            width: 470px;
            height: 25px;
            margin: 28.5px 0px 20px 0px;
            text-align: center;

            &>p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 24px;
                color: #F7F3F2;
                letter-spacing: 0.2px;
            }
        }

        & .search_partner_btn {
            width: 225px;
            height: 50px;
            padding-top: 13px;

            &>button {
                width: 225px;
                height: 40px;
                background: #FF4E50;
                border: 1px solid #FF4E50;
                border-radius: 40px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 17px;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width:1200px) {
    .header .header__top {
        max-width: 100%;
        padding: 40px 48px 0px 48px;
    }
}


.title {
    margin: 0px auto 35px;

    &>p {
        font-family: "Montserrat_Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #444444;
        text-align: center;
    }
}



.how_it_works {
    max-width: 940px;
    height: 100%;
    margin: 89px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .steps {
        max-width: 940px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;

        & .step {
            max-width: 300px;
            height: 400px;
            margin: 0px 0px 0px 0px;
            // padding: 10px 10px 10px 10px;
            flex: 1 1 33%;
            display: flex;
            flex-direction: column;
            justify-content: end;


            & .step_logo {
                width: 70px;
                height: 20px;
                margin: 0px 0px 22px 24px;
                background: #FF4E50;
                border-radius: 40px;
                text-align: center;

                &>p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    color: #FFFFFF;
                }
            }

            & .step_title {
                margin: 0px 0px 25px 25px;

                &>h2 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 26px;
                    color: #FFFFFF;
                    letter-spacing: 0.5px;
                }
            }

            & .step_text {
                margin: 0px 25px 20px 25px;

                &>p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 14px;
                    color: #E3E3E3;
                    word-spacing: 1px;
                }
            }
        }

        .step1 {
            background-image: url(../images/how_it_works/how_it_works01.png);
            background-size: cover;
            background-position: center center;
        }

        .step2 {
            background-image: url(../images/how_it_works/how_it_works02.png);
            background-size: cover;
            background-position: center center;
            margin: 0px 20px 0px 20px;

            & .step_title {
                margin: 0px 0px 18px 26px;
            }
        }

        .step3 {
            background-image: url(../images/how_it_works/how_it_works03.png);
            background-size: cover;
            background-position: center center;
        }
    }
}




.partners_profile {
    max-width: 940px;
    // height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    & .profile_set {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    & .profile__card {
        max-width: 221px;
        height: 205px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 10px 5px 10px;

        & .profile__card_img {
            width: 120px;
            height: 120px;
            margin-bottom: 17px;
        }

        & .partner_name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-bottom: 12px;
        }

        & .partner_short_info {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #666666;
        }
    }

    & .see_other {
        margin-top: 53px;

        & .see_other_btn {
            display: block;
            width: 180px;
            height: 40px;
            background: #FFFFFF;
            border: 2px solid #FF4E50;
            border-radius: 40px;
            padding-left: 14px;


            &[value] {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #FF4E50;
                text-align: center;
                letter-spacing: 0.4px;
            }
        }
    }

}




.discover {
    max-width: 940px;
    height: 100%;
    margin: 87px auto 0px;
    padding: 0px 10px 0px 10px;

    .picture_set {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .activity {
            height: 307px;
            width: 32%;
            margin: 0px 0px 23px;
            background-color: #FF4E50;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #000000;
                mix-blend-mode: normal;
                opacity: 0.2;
                border-radius: 4px;
                z-index: 0;

            }

            & .activities_title {
                display: block;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                z-index: 1;
            }
        }

        .activity:nth-child(1) {
            background-image: url(../images/activity_ideas/activity01.png);
            background-size: cover;
            background-position: center center;
        }

        .activity:nth-child(2) {
            background-image: url(../images/activity_ideas/activity02.png);
            background-size: cover;
            background-position: center center;
        }

        .activity:nth-child(3) {
            background-image: url(../images/activity_ideas/activity03.png);
            background-size: cover;
            background-position: center center;
            background-size: cover;
            background-position: center center;
        }

        .activity:nth-child(4) {
            background-image: url(../images/activity_ideas/activity04.png);
            background-size: cover;
            background-position: center center;
        }

        .activity:nth-child(5) {
            width: 66%;
            background-image: url(../images/activity_ideas/activity05.png);
            background-size: cover;
            background-position: center center;
        }

        .activity:nth-child(6) {
            width: 66%;
            background-image: url(../images/activity_ideas/activity06.png);
            background-size: cover;
            background-position: center center;
        }

        .activity:nth-child(7) {
            background-image: url(../images/activity_ideas/activity07.png);
            background-size: cover;
            background-position: center center;
        }
    }

}

.create_activity_form {
    max-width: 940px;
    height: 100%;
    display: flex;
    margin: 70px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .subtitle {
        margin: 17px 0px 26px 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 14px;
        text-align: center;
        color: #666666;
    }

    & .activity_form {
        & .activity_form_text {
            width: 299px;
            height: 40px;
            margin-right: 5px;
            padding-left: 12px;

            &::placeholder {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: #999999;
            }

        }

        & .activity_form_btn {
            width: 172px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            cursor: pointer;

            &[value] {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }
        }
    }
}



.red_line {
    width: 100%;
    height: 3px;
    margin-top: 27px;
    background-color: #FF4E50;
}

.footer {
    max-width: 1440px;
    height: 260px;

    & .footer_container {
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 27px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        & .footer_logo {
            width: 22%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FF4E50;
            text-align: end;
            padding: 0.5px 33px 0px 0px;
        }

        .list_title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #444444;
            margin-bottom: 11px;
        }

        & .footer_company_list {
            width: 22%;
            padding: 3px 0px 0px 86px;

            & .list_item {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
            }
        }

        & .footer_partners_list {
            width: 22%;
            padding: 3px 0px 0px 10px;
        }

        & .rights_info {
            width: 22%;

            &>h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 1px;
                color: #CCCCCC;
                text-align: start;
                margin-bottom: 7px;
                padding: 3px 0px 0px 73px;
            }

            &>img {
                padding: 0px 0px 0px 43px;
            }
        }
    }

}

@media (min-width:768px) and (max-width:960px) {
    .red_line {

        margin-top: 0px;

    }

    .create_activity_form {
        margin: 75px auto 100px;
    }

    .how_it_works {
        margin: 94px auto;
    }

    .title {
        &>p {
            font-size: 22px;
            line-height: 27px;
        }
    }

    .partners_profile {
        .profile_set {
            flex-wrap: wrap;
            padding: 0px 40px 0px 40px;
            max-width: 770px;
            margin: 0 auto;

            & .profile__card:nth-child(1) {
                margin: 0px 15px 35px 0px;

            }

            & .profile__card:nth-child(2) {
                margin: 0px 0px 35px 15px;
            }

            & .profile__card:nth-child(3) {
                margin: 20px 18px 0px 0px;
            }

            & .profile__card:nth-child(4) {
                margin: 20px 0px 0px 18px;
            }

            .profile__card_img {
                width: 120px;
                height: 120px;
                margin-bottom: 17px;
            }

            .partner_name {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                margin-bottom: 22px;
            }

            .partner_short_info {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                color: #666666;
            }

        }

        & .see_other {
            margin-top: 40px;
        }
    }

    .discover {
        margin: 93px auto 0px;

    }

    .footer {
        & .footer_container {


            & .footer_logo {
                width: 25%;
                text-align: center;
                padding: 0.5px 0px 0px 4px;
            }

            .list_title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #444444;
                margin-bottom: 11px;
            }

            & .footer_company_list {
                width: 25%;
                padding: 2px 0px 0px 75px;

                & .list_item {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 26px;
                    color: #999999;
                }
            }

            & .footer_partners_list {
                width: 25%;
                padding: 2px 26px 0px 0px;
                text-align: center;
            }

            & .rights_info {
                width: 25%;

                &>h2 {
                    padding: 2px 0px 0px 73px;
                }

                &>img {
                    padding: 0px 0px 0px 42px;
                }
            }
        }

    }
}


@media (max-width:768px) {
    .header {
        .header__top {
            flex-direction: column-reverse;
            align-items: center;
            & .header__top_logo {
                padding: 6px 0px 0px 0px;
                &>h1 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
        .header__bottom {
            & .main_title {
                width: 320px;
                height: 65px;
                &>h1 {
                    font-size: 30px;
                    line-height: 37px;
                }
            }
            & .main_subtitle {
                width: 320px;
                height: 25px;
                margin: 28.5px 10px 20px 10px;
                padding: 0px 20px 0px 20px;
                text-align: center;
                &>p {
                    font-size: 18px;
                    line-height: 24px;
                }
                & .search_partner_btn {
                    width: 280px;
                    height: 50px;
                    padding-top: 13px;
                    &>button {
                        width: 280px;
                        height: 40px;
                    }
                }
            }
        }
        
    }
    .title {
        margin: 0px auto 15px;
        &>p {
            font-size: 22px;
            line-height: 27px;
        }
    }
    .how_it_works {
        margin: 89px auto 20px;
        & .steps {
            max-width: 320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            padding: 0px 10px 0px 10px;
    
            & .step {
                max-width: 300px;
                height: 240px;
                margin: 0px 0px 10px 0px;
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: end;
    
    
                & .step_logo {
                    width: 70px;
                    height: 20px;
                    margin: 0px 0px 22px 24px;
                    background: #FF4E50;
                    border-radius: 40px;
                    text-align: center;
    
                    &>p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 20px;
                        letter-spacing: 2px;
                        color: #FFFFFF;
                    }
                }
    
                & .step_title {
                    margin: 0px 0px 25px 25px;
    
                    &>h2 {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 26px;
                        color: #FFFFFF;
                        letter-spacing: 0.5px;
                    }
                }
    
                & .step_text {
                    margin: 0px 25px 20px 25px;
    
                    &>p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 14px;
                        color: #E3E3E3;
                        word-spacing: 1px;
                    }
                }
            }
    
        }
    }
    .partners_profile {
        max-width: 320px;
    
        & .profile_set {
            display: flex;
            flex-direction: column;
        }
        & .see_other {
            margin-top: 15px;
    
            & .see_other_btn {
                display: block;
                width: 280px;
                height: 40px;
                background: #FFFFFF;
                border: 2px solid #FF4E50;
                border-radius: 40px;
                padding-left: 14px;
    
    
                &[value] {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FF4E50;
                    text-align: center;
                    letter-spacing: 0.4px;
                }
            }
        }
    
    }
    .discover {
        max-width: 320px;
        margin: 25px auto 0px;
        .picture_set {
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
    
            .activity {
                height: 120px;
                width: 100%;
                margin: 0px 0px 10px;
            }
            .activity:nth-child(5) {
                width: 100%;
            }
    
            .activity:nth-child(6) {
                width: 100%;
            }
    
           
        }
    
    }
    .create_activity_form {
        max-width: 320px;
        margin: 35px auto 15px;
        & .title{
            padding: 0px 15px 0px 15px;
        }
    
        & .subtitle {
            margin: 0px 0px 15px 0px; 
        }
    
        & .activity_form {
            & .activity_form_text {
                display: block;
                width: 280px;
                height: 40px;
                margin: 0 auto 10px;
                padding-left: 12px;
    
                &::placeholder {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    color: #999999;
                }
    
            }
    
            & .activity_form_btn {
                width: 280px;
                height: 40px;
                background: #FF4E50;
                border-radius: 40px;
                cursor: pointer;
    
                &[value] {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }
            }
        }
    }
    .footer {
        max-width: 1440px;
        height: 260px;
    
        & .footer_container {
            max-width: 320px;
            height: 100%;
            display: flex;
            margin: 15px auto 0px;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            
    
            & .footer_logo {
                width: 100%;
                text-align: center;
                padding: 0px 0px 0px 0px;
                margin-bottom: 13px;
            }
    
            .list_title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #444444;
                margin-bottom: 0px;
            }
    
            & .footer_company_list {
                width: 80%;
                padding: 0px 0px 0px 0px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
                & .list_title{          
                    padding: 0px 100px;
                    margin: 0 auto;
                }
                & .list_item {
                    padding: 0px 10px;
                }
            }
    
            & .footer_partners_list {
                width: 80%;
                padding: 0px 0px 0px 0px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 5px 0px;
            }
    
            & .rights_info {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                &>h2 {
                    padding: 0px 0px 0px 0px;
                    margin: 20px 0px 5px;
                }
    
                &>img {
                    padding: 0px 0px 0px 0px;
                }
            }
        }
    
    }
}